POSTGRES_DB=todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/todo_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin123
JWT_TOKEN=1bb844cbc7a438d0c3351b3965884ae80027ae45e51e238d254ded2d1945b8c0
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
TELEGRAM_BOT_TOKEN=8911234110:AAGT3Gex89PlcvwWMe7XJ1a_AHgkSuyk0pc
TELEGRAM_BOT_USERNAME=no_name_bot