POSTGRES_DB=todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/todo_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin123
JWT_SECRET=1bb844cbc7a438d0c3351b3965884ae80027ae45e51e238d254ded2d1945b8c0
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
TELEGRAM_BOT_TOKEN=__REPLACE_WITH_TELEGRAM_BOT_TOKEN__
TELEGRAM_BOT_USERNAME=__REPLACE_WITH_TELEGRAM_BOT_USERNAME__