POSTGRES_DB=todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/todo_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin123